/* media querries */
/* width */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
    width: 100%;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    width: 100%;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    width: 75%;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    width: 75%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  main {
    width: 75%;
  }
}
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #about-title .shadow-title {
    left: 125px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #about-title .shadow-title {
    left: 120px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #about-title .shadow-title {
    left: 205px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #about-title .shadow-title {
    left: 285px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #about-title .shadow-title {
    left: 370px;
  }
}
/* reset css */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* aside bar */
aside img {
  width: 150px;
  height: 150px;
  border: 7px solid #343a40;
}
aside {
  background: #040b14;
}
#social-media a:hover {
  background-color: #00bfff;
}
#social-media a {
  background: #343a40;
  transition: background-color 1.5s;
}
nav li a:hover {
  color: white !important;
}

nav li a {
  color: #a8a9b4;
  transition: color 1.3s;
  font-size: 13pt;
}
nav li a:hover i {
  color: #00bfff;
  transition: color 1.3s;
}
/* main bar */
#intro {
  background-image: url("../Media/Images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
main {
  margin-left: 25%;
}
/* about section */
#about-title .shadow-title {
  left: 50px;
  bottom: 0%;
  z-index: -1;
  font-size: 40pt;
  color: #c0c0c0;
}
/* progress bars */
#HTML {
  width: 85%;
}
#CSS {
  width: 75%;
}
#JavaScript {
  width: 10%;
}
.progress {
  height: 13px;
}
.skill {
  font-size: 10pt;
}
