@font-face {
  font-family: Raleway-Regular;
  src: url("../Fonts/Raleway/static/Raleway-Regular.ttf");
}

/* reset css */
* {
  box-sizing: border-box;
  font-family: Raleway-Regular;
  color: #444444;
}
body {
  margin: 0;
}

/* aside bar */
aside img {
  width: 150px;
  height: 150px;
  border: 7px solid #343a40;
}
aside {
  background: #040b14;
}
#social-media a:hover {
  background-color: #00bfff;
}
#social-media a {
  background: #343a40;
  transition: background-color 1.5s;
}
nav li a:hover {
  color: white !important;
}

nav li a {
  color: #a8a9b4;
  transition: color 1.3s;
  font-size: 13pt;
}
nav li a:hover i {
  color: #00bfff;
  transition: color 1.3s;
}
/* main bar */
/* main section */
main {
  width: 100%;
  margin-left: 0;
}
/* intro section */
#intro {
  background-image: url("../Media/Images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}
#intro h1,
#intro p {
  color: #e5e0da;
  font-family: cursive;
}
/* about section */
.about-icon {
  line-height: 0;
}
/* progress bars */
#HTML {
  width: 85%;
}
#CSS {
  width: 75%;
}
#JavaScript {
  width: 10%;
}
.progress {
  height: 13px;
}
.skill {
  font-size: 10pt;
}
/* resume section */
/* stepper */
.stepper-icon {
  left: -10px;
}

.year {
  background: #eef0f2;
  padding: 5px 15px;
  font-weight: 600;
}
.bg-title {
  z-index: -1;
  top: -70%;
  left: 20%;
  font-size: 30pt;
  /* color: red; */
  font-weight: 900;
  text-shadow: 2px 2px 8px #807d7d;
  color: #eef0f2;
}
.front-title {
  font-weight: 900;
}
/* services section */
.service-icon {
  font-size: 30pt;
  color: #ffb727;
  display: inline-block;
  width: 75px;
  height: 75px;
  background: #fff4df;
  margin: 30px auto 10px auto;
  padding-top: 14px;
}
.card {
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  /* transition: all 0.3s ease-in-out; */
}

/* bg color responsive for my convenience */
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
    background-color: grey;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    background-color: hotpink;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    background-color: purple;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    background-color: green;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  main {
    background-color: white;
  }
}
/*///////////// main media queries////////////// */
@media (min-width: 576px) {
  .bg-title {
    left: 30%;
  }
}

@media (min-width: 768px) {
  .bg-title {
    left: 36%;
  }
}

@media (min-width: 992px) {
  .bg-title {
    top: -60%;
    left: 35%;
  }
  main {
    width: 75%;
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .bg-title {
    left: 37%;
  }
}
@media (min-width: 1400px) {
  .bg-title {
    left: 39%;
  }
}
