/* media querries */
/* width */
main {
  width: 100%;
  margin-left: 0;
  font-family: sans-serif;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  main {
    /* width: 100%;
    margin-left: 0%; */
    background-color: grey;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  main {
    /* width: 100%;
    margin-left: 0%; */
    background-color: hotpink;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  main {
    width: 75%;
    margin-left: 25%;
    background-color: purple;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  main {
    /* width: 75%;
    margin-left: 25%; */
    background-color: green;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  main {
    /* width: 75%;
    margin-left: 25%; */
    background-color: khaki;
  }
}

/* reset css */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
/* aside bar */
aside img {
  width: 150px;
  height: 150px;
  border: 7px solid #343a40;
}
aside {
  background: #040b14;
}
#social-media a:hover {
  background-color: #00bfff;
}
#social-media a {
  background: #343a40;
  transition: background-color 1.5s;
}
nav li a:hover {
  color: white !important;
}

nav li a {
  color: #a8a9b4;
  transition: color 1.3s;
  font-size: 13pt;
}
nav li a:hover i {
  color: #00bfff;
  transition: color 1.3s;
}
/* main bar */
#intro {
  background-image: url("../Media/Images/bg-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

#about-title h2 {
  text-shadow: -10px -10px #dbd5d5;
  font-weight: 650;
  font-size: 20pt;
}
.about-icon {
  line-height: 0;
}
/* progress bars */
#HTML {
  width: 85%;
}
#CSS {
  width: 75%;
}
#JavaScript {
  width: 10%;
}
.progress {
  height: 13px;
}
.skill {
  font-size: 10pt;
}
/* stepper */
.stepper-icon {
  left: -10px;
}
